# Node.js
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
*.js.map
*.d.ts.map
# If you are not committing compiled JS files (common practice)
# *.js
*.d.ts

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# ..
output.png
output2.png
test